<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865239668665-47tfvc8pgc6ue0p2bt465gcalfvbfnap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865239668665-47tfvc8pgc6ue0p2bt465gcalfvbfnap</string>
	<key>API_KEY</key>
	<string>AIzaSyA5qeHENQY_hXU4cf1NwZHWeNOEnhyK1qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>865239668665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.dotconnectafrica.shebnks</string>
	<key>PROJECT_ID</key>
	<string>shebanks-d375c</string>
	<key>STORAGE_BUCKET</key>
	<string>shebanks-d375c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865239668665:ios:c146d26671f71dc2480868</string>
</dict>
</plist>