<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598559610460-hc91iagqhv5ll9gr8ufjic6senac9k71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598559610460-hc91iagqhv5ll9gr8ufjic6senac9k71</string>
	<key>API_KEY</key>
	<string>AIzaSyC7AyhZbZeUl65XCX_naOGZJZrgEKWUAMA</string>
	<key>GCM_SENDER_ID</key>
	<string>598559610460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.dotconnectafrica.shebnks</string>
	<key>PROJECT_ID</key>
	<string>shebnksapp</string>
	<key>STORAGE_BUCKET</key>
	<string>shebnksapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598559610460:ios:5a79ec7c2186615939f899</string>
	<key>DATABASE_URL</key>
	<string>https://shebnksapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>